<!DOCTYPE html>
<html>
  <head>
    <title>Boutique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if user_signed_in? %>
    <%= render partial: "common/header" %>
  <% end %>

  <body>
    <%= render partial: "common/flash_msg" %>

    <%= yield %>

    <%= render partial: "common/footer" %>
  </body>
</html>
